.services_first-sec {
  width: 100%;
  height: auto;

  .services_main_img {
    width: 100%;
    height: 500px;
  }

  .services_second_sec {
    width: 100%;
    height: auto;

    .services_heading {
        height: auto;
      padding: 60px 0px;
    }
  }

  .services_third_sec {
    width: 100%;
    height: auto;
  }

  .services_fourth_sec {
    width: 100%;
    height: auto;
  }

  .services_fifth_sec {
    width: 100%;
    height: auto;
  }

  .services_sixth_sec {
    width: 100%;
    height: auto;
  }

  .services_seventh_sec {
    width: 100%;
    height: auto;
  }

  .services_eigth_sec {
    width: 100%;
    height: auto;
  }

  .services_ninth_sec {
    width: 100%;
    height: auto;
  }
}
