.main-wrapper {
	height: 100vh;
	background:#101928;

	  .right-panel-wrapper {
		z-index: 1;
		background-color: #ffffff;
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
		height: 100vh;
		padding: 20px 20px 20px 40px;
		overflow: auto;
	  }
  }
